@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
.App {
  font-family: 'Montserrat', sans-serif;
  position: relative; 
  background-color: #302d46;
  min-height: 100vh;
  height: 100%; 
  width: 100%; 
}

input, button{
  font-family: 'Montserrat', sans-serif;
}

.nav-icon{
  margin-right: 15px; 
}

html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0px;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {

}

.AddContainer{
  position: fixed; 
  top: calc(50vh - 150px);
  left: calc(50vw - 200px); 
  width: 400px; 
  height: fit-content; 
  background-color: #182249;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); 
  padding: 30px; 
  border-radius: 3px;
}

.AddContainer h2{
  margin: 0px; 
  color: #dddddd;
}

.projectName{
  width: 100%; 
  padding: 0px 0px 10px 0px; 
  font-size: 1.1em; 
  background-color: #182249;
  border: none; 
  border-bottom: 2px solid #aaaaaa;
  color: #dddddd;
  margin-top: 25px; 
  transition: 0.2s; 
}

.projectName:focus{
  outline: none;
  border-bottom: 2px solid rgb(246, 88, 137);
}

.projectName:focus::placeholder{
  
  font-size: 0.8rem; 
}

.projectName::placeholder{
  color: rgba(255, 255, 255, 0.7); 
  transition: 0.1s ease-in; 
}

.inputDates{
  display: flex; 
}

.dateType{
  color: #dddddd;
  margin: 25px 0px 10px 0px; 
}

.startDate{
  display: flex; 
  margin-right: 15px; 
}

.slash{
  margin: 0px 5px 0px 0px; 
  font-size: 1.8rem;
  color:rgba(246, 88, 137, 0.8); 
}

.dateInput{
  width: 1rem; 
  text-align: center;
  margin: 0px 5px 0px 0px; 
  background-color: #1e2a5b; 
  border: none; 
  padding: 8px; 
  font-size: 1rem; 
  color: #dddddd;
  border-radius: 2px; 
}

.yearInput{
  width: 2.4rem; 
  margin: 0px 5px 0px 0px; 
  background-color: #1e2a5b; 
  border: none; 
  padding: 8px; 
  font-size: 1rem; 
  color: #dddddd;
  border-radius: 2px; 
}

.yearInput:focus{
  outline: none; 
}

.dateInput:focus{
  outline: none; 
}

.addProject{
  margin-top: 25px; 
  padding: 10px 15px 10px 15px; 
  border: none; 
  background-color: rgba(246, 88, 137, 1.0); 
  color: #ffffff; 
  font-size: 1em; 
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 3px; 
  transition: 0.2s; 
}

.addProject:hover{
  cursor:pointer; 
  background-color: rgba(246, 88, 137, 0.8); 

}

.addProject:focus{
  outline: none; 
}

.cancel{
  border: none; 
  background: none; 
  padding: 0px; 
  margin-left: 25px; 
  font-size: 1em; 
  color: #688FEC;
  transition: 0.1s; 
}

.cancel:focus{
  outline: none; 
}

.cancel:hover{
  cursor:pointer; 
  text-decoration: underline;

}


.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 150ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 150ms ease-in;
}